@use '~/src/styles/theme';
* {
    margin: 0;
    padding: 0;
}
// .container{
//     background: linear-gradient(135deg, theme.$primary,theme.$primaryVariant);
//     //background: white;
//     width: 100%;
//     min-height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.appwrapper{
    background-color: theme.$background;
    
   // min-width: 300px;
    min-height: 650px;
    @media only screen and (min-width: 600px) {
        padding: 30px;
    }
    box-sizing: border-box;
    border-radius: 5px;


}
.title{
    color: theme.$onBackground;
    text-align: center;
    margin: 80px 0px 40px 0px;
}
.name,
.email,
.password
 {
    margin: 20px;
    color: #969292;
    font-size: 16px;
}
.password{
    margin-bottom: 40px;
}

.input{
    height: 32px;
    font-size: 20px;
    outline: none;
    width: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: 2px solid theme.$onBackground;
    margin-bottom: 10px;

}
.error{
    color:red;
}
.confirm{
    
    display: flex;
     font-size: 16px;
     border-radius: 10px;
     color: white;
     padding: 10px 60px;
     background: theme.$primary;
     box-shadow: rgba(0, 0, 0, 0) 0px 10px 38px,
         rgba(0, 0, 0, 0.22) 0px 15px 12px;
     margin: auto;
     outline: none;
     border: none;
     cursor: pointer;
     transition: all 0.1s;
    // margin-left: auto;
    
}
.close{
     display: flex;
     font-size: 16px;
     border-radius: 10px;
     color: white;
     padding: 10px 60px;
     background: theme.$primary;
     box-shadow: rgba(0, 0, 0, 0) 0px 10px 38px,
         rgba(0, 0, 0, 0.22) 0px 15px 12px;
     //margin-right: auto;
     outline: none;
     border: none;
     cursor: pointer;
     transition: all 0.1s;
     margin: auto;
     margin-top: 300px;
}

button:active{
    transform: translateY(2px);
}
.formsuccess{
    display: flex;
    //flex-direction:column;
    //text-align: center;
    justify-content: center;
    // width: 100%;
    //margin: 80px 0px 40px 0px;
    margin-top: 250px;
    min-width: 370px;
    color: theme.$onBackground;
    // @media only screen and (min-width: 600px) {
    //     //margin: 80px 0px 40px 0px;
        
    // }
}