@use "../../styles/theme.scss";

.logo {
    position: absolute;
    left: 50%;
    margin-top: 5%;
    transform: translate(-50%, 0);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .inputsContainer {
        width: 90%;
        padding-top: 30%;
        margin: 10% auto;

        .input {
            margin: 5% auto;
        }
    }

    .bottomContainer {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        .buttonContainer {
            width: 90%;
        }
        .signUpText {
            padding-bottom: 5%;
            padding-top: 5%;
        }
    }
}
