.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageContent {
  height: 100%;
  overflow: auto;
  margin-top: 4px;
  padding-bottom: 56px;
}

.leftPanel,
.rightPanel {
  display: none;
  position: absolute;
  padding: 3rem;
}

.rightPanel {
  right: 0;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 50%;
    margin-left: 25%;

    h1 {
      margin-left: 3rem;
    }
  }

  .leftPanel,
  .rightPanel {
    display: block;
  }
}
