.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageContent {
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.banner {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid black;
}
