@use '~/src/styles/theme';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.banner {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid black;
}

.pageContent {
  height: 100%;
  padding: 1rem;
  overflow: auto;
  padding-bottom: 50px;
}

.followButton {
  float: right;
}

.posts {
  border-top: 1px solid theme.$divider;
  margin-top: 1rem;
  padding-top: 1rem;
}
