// colour theme
$primary: #6200EE;
$primaryVariant: #3700B3;
$secondary: #03DAC6;
$secondaryVariant: #018786;
$surface: #FFFFFF;
$background: #FFFFFF;
$error: #B00020;
$onPrimary: #FFFFFF;
$onSecondary: #FFFFFF;
$onSurface: #000000;
$onBackground: #000000;
$onError: #FFFFFF;
$divider: lightgray;

// font sizes
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

body {
    font-family: 'Roboto', sans-serif;
}
