@use '~/src/styles/theme';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .input {
    margin: 5% auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer {
    margin-top: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profileContainer {
    width: 90%;
    margin-top: 50px;
  }
}
