.buttonDiv {
  margin-top: 55px;
}

.tagStyle {
  text-decoration: none;
  color: #3281c9;
}

.handleStyle {
  text-decoration: none;
  color: #3281c9;
}

.content {
  margin-left: 70px;
}

.reply {
  margin-top: 10px;
  color: gray;
}

.link {
  text-decoration: none;
  color: #3281c9;
}

.postInput {
  margin-top: 0px;
  margin-left: -15px;
}

.loadingButton {
  border-radius: 10px;
  padding: 10px;
  text-transform: none;
}
