@use '~/src/styles/theme';

.container {
    display: flex;
    flex-direction: row;
    background-color: theme.$primary;
    color: theme.$onPrimary;
    border-top: 1px solid black;
    min-height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 2%;
    position: fixed; // Todo tabs still come on top of the keyboard
    bottom: 0%;
    width: 100%;
    background-color: rgb(7, 39, 107);
    
}

.section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-size: 70%;
    
}
.section:hover{
    background-color: rgba(7, 39, 107, 0.308);

}
.icon{
    height: 100%;
}

