@use '~/src/styles/theme';
@import '~/src/styles/theme';

.timestamp {
  color: grey;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: black;
}

.content {
  padding-top: 8px;
  font-size: 16px !important;
  font-weight: bold;
}
