@use '../../styles/theme.scss';

.logo {
  position: absolute;
  left: 50%;
  margin-top: 5%;
  transform: translate(-50%, 0);

  > img {
    height: 80px;
    width: 80px;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;

  .slogan {
    font-size: theme.$text-2xl;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10%;
    position: absolute;
    top: 40%;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 5%;

    .buttonsContainer {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 5%;
    }

    .loginText {
      font-size: theme.$text-sm;

      a {
        text-decoration: none;
        color: theme.$primary;
      }
    }

    .loginButton,
    .createAccount,
    .divider {
      width: 80%;
    }

    .divider {
      text-align: center;
      margin: 2.5% auto;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      span {
        font-size: theme.$text-sm;
        color: gray;
      }

      hr {
        width: 80%;
        margin-left: 5px;
        margin-right: 5px;
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    .loginLink {
      color: theme.$primary;
    }
  }
}
