.button {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  margin-top: 50px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}
