@use '~/src/styles/theme';

.subHeader {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container {
  display: flex;
}

.centerText {
  right: calc(50% - 41px);
  top: 50%;
  position: absolute;
}
