.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }
}
