@use '~/src/styles/theme';

.container {
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 8px;
}

.container > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
