@use '~/src/styles/theme';

.container {
    display: flex;
    flex-direction: column;
    align-items: top;
    color: theme.$onBackground;
    text-decoration: none;

    > div {
        display: flex;
        flex-direction: column;
    }
}

.followCount{
    color: black;
}
.followersLink {
    text-decoration: none;
}

.followersLink:visited {
    text-decoration: none;
    color: gray;
}

