@use '~/src/styles/theme';

.container {
    display: flex;
    flex-direction: column;
    align-items: top;
    color: theme.$onBackground;
    text-decoration: none;

    > div {
        display: flex;
        flex-direction: column;
    }
}

.banner{
    width: 100%;
    height: 50% ; 
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 10px;
}

.followCount{
    color: black;
}
.followersLink {
    text-decoration: none;
}

.followersLink:visited {
    text-decoration: none;
    color: gray;
}