@use '~/src/styles/theme';

.container {
  padding-bottom: 10px;
}

.saveButton {
  width: '80%';
}

.typography {
  padding: 0;
}

.defaultBannerContainer {
  margin-top: 6px;
  margin-bottom: 6px;
}
