@use '~/src/styles/theme';
@import '~/src/styles/theme';

.container {
  color: theme.$onBackground;
  text-decoration: none;
  display: block;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .biography {
    display: block;
    margin-top: 8px;
  }
}
