name: Lint

# Linters will run on pushes to forked branches and on pull requests
on:
  push:
    branches: [main]
  # Pull_request_target required for annotation of fork commits
  pull_request_target:
    branches: [main]

permissions:
  checks: write
  contents: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install Node dependencies
        run: npm ci

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          eslint_extensions: js,jsx
          prettier: true
          prettier_extensions: js,jsx
