@use '../../styles/theme.scss';

.container {
  margin: auto;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      height: 160px;
      width: 160px;
    }
  }

  .progressBar {
    margin-top: 10%;
  }
}
